body {
  /* img is showing darkmode hides it */
  background-image: url('../img/background.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#navbar p {
  text-align: center;
  font-size: larger;
  text-decoration: underline;
}

/* #search-div {
  position: fixed;
} */

#searchbox {
  text-align: center;
  width: 50%;
  position: fixed;
}

img {
  border-radius: 50%;
}

footer {
  position: fixed;
  width: 100%;
  font-size: larger;
  bottom: 0;
  text-align: center;
  color: rgb(46, 52, 20);
}